:root {
    --main-font: 'Bebas Neue', sans-serif;
    --black-text-color: #0F1F1C;
    --white-text-color: #FFFFFF;
    --akcent-color: #E30000;
    --main-bg-color: #EAC991;
    --secondary-bg-color: #D9B579;
    --bright-bg-color: #F8EEDD;

    --duration: 250ms;
    --timing-function: cubic-bezier(0.4,0,0.2,1);

}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
    /* font-family: var(--main-font); */
}

body {
    width: 100%;
    font-family: var(--main-font);
    color: var(--black-text-color);
    background-color: var(--main-bg-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.section {
    padding: 20x 0;
}

/* .link {
    text-decoration: none;
    color: currentColor;
} */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Bebas Neue Cyrillic";
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.akcent {
    color: var(--akcent-color);
}

.header {
    height: 40px;
}

.hero__heading {
    position: relative;
    text-align: center;
    margin: 0 15px;
    font-size: 24px;
    /* min-width: 300px; */
}

.hero__heading::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75px;
    height: 3px;
    color: var(--akcent-color);
}

.hero__thumb {
    margin-top: 60px;
    margin-bottom: 60px;
}

.hero__title {
    margin: 0 15px;
    font-size: 20px;
    color: var(--akcent-color);
}

.hero__sub-title {
    margin: 0 15px;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.hero__decor {
    position: relative;
    height: 60px;
    background-color: #BD9353;
    border-radius: 30px;
}

.hero__image {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 190px;
    height: auto;
}

.hero__list {
    padding: 20px 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: var(--bright-bg-color);
    border-radius: 20px;
}

.hero__list>li:not(:last-child) {
    margin-bottom: 12px;
}

.hero__list>li>h4 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.04em;
}

.story {
    position: relative;
    padding: 30px 10px 30px 5px;
    background-image: url('../images/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* border-radius: 20px; */
}

.story::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(189, 147, 83, 0.4);
    /* border-radius: 20px; */
    z-index: 1;
}

.story .container {
    position: relative;
    z-index: 2;
    color: var(--white-text-color);
}

.story__heading {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.story__list>li {
    font-size: 14px;
    letter-spacing: 0.02em;
}

.story__list>li:not(:last-child) {
    margin-bottom: 30px;
}

.story__list>li>p {
    opacity: 0.8;
}

.benefites {
    padding-top: 30px;
}

.benefites__heading {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.benefites__thumb {
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: #D2A35C;
}

.benefites__thumb:not(:last-child) {
    margin-bottom: 30px;
}

.benefites__reasons {
    height: 47px;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.benefites__reasons>h3 {
    text-align: center;
    font-size: 20px;
    /* vertical-align: length; */
    /* align-content: center; */
    line-height: 2.5;
    color: var(--akcent-color);
}

.benefites__list {
    padding-right: 25px;
}

.benefites__item>p {
    font-size: 14px;
    letter-spacing: 0.02em;
    opacity: 0.8;
}

.video {
    padding-top: 30px;
    padding-bottom: 15px;
}
.video__heading {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.video__heading:not(:first-child) {
    margin-top: 30px;
}

.video__link {
    position: relative;
}

.video__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video__img {
    border-radius: 20px;
}

/* .footer {
    width: 26px;
    height: auto;
    background-image: url('../images/footer_bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
} */